<div class="content-shadow bg-white mb-5" not-authorized [notAuthorized]="isNotAuthorized">
    <h2 class="size-body title-with-btn plr-4 ptb-4">
      <span class="page-title">{{ 'tr_clients' | translate }}</span>
      <div class="btn-group">
        <button
          type="button"
          class="s-btn size-body"
          [class.btn-primary]="viewMode === 'table'"
          [class.btn-secondary]="viewMode !== 'table'"
          (click)="setViewMode('table')"
        >
          <i class="fa fa-table" aria-hidden="true"></i>
        </button>
        <button
          type="button"
          class="s-btn size-body"
          [class.btn-secondary]="viewMode !== 'cards'"
          [class.btn-primary]="viewMode === 'cards'"
          (click)="setViewMode('cards')"
        >
          <i class="fa fa-th-large" aria-hidden="true"></i>
        </button>
        <button class="s-btn btn-primary" (click)="createClient()">
          {{ 'tr_add_client' | translate }}
        </button>
        <button class="s-btn btn-secondary size-body" (click)="isFilterOpen = !isFilterOpen">
          <i class="fa fa-filter text-primary"></i>
        </button>
      </div>
    </h2>
  
    <div class="filters-card bg-secondary plr-4 ptb-2 mb-7" *ngIf="isFilterOpen">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group mb-0">
            <label>{{ 'tr_search_by_name' | translate }}</label>
            <div class="input-with-icon bg-white width-100">
              <input
                class="s-control"
                placeholder="{{ 'tr_search' | translate }}"
                [(ngModel)]="nameSearchTerm"
                (keyup)="filterClientsByName($event)"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group mb-0">
            <label>{{ 'tr_phone_number' | translate }}</label>
            <div class="input-with-icon bg-white width-100">
              <input
                class="s-control"
                placeholder="{{ 'tr_search' | translate }}"
                [(ngModel)]="phoneSearchTerm"
                (keyup)="filterClientsByPhone($event)"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group mb-0">
            <label>{{ 'tr_installment_plan_select' | translate }}</label>
            <div class="input-with-icon bg-white width-100">
              <ng-select
                class="s-control s-select"
                [items]="installmentPlans"
                bindValue="_id"
                [clearable]="true"
                [(ngModel)]="selectedInstallmentPlanId"
                (ngModelChange)="onInstallmentPlanFilterChange($event)"
                placeholder="{{ 'tr_all_installment_plans' | translate }}"
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ planLabel(item) }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ planLabel(item) }}
                </ng-template>
              </ng-select>
              <i class="fa fa-caret-down input-icon"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group mb-0">
            <label>{{ 'tr_filter_last_installment_amount' | translate }}</label>
            <div class="input-with-icon bg-white width-100">
              <input
                class="s-control"
                type="number"
                min="0"
                step="0.01"
                placeholder="{{ 'tr_search' | translate }}"
                [(ngModel)]="lastInstallmentAmountTerm"
                (keyup)="filterByLastInstallmentAmount($event)"
                (change)="filterByLastInstallmentAmount($event)"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="form-group mb-0">
            <label>{{ 'tr_installment_sale_number' | translate }}</label>
            <div class="input-with-icon bg-white width-100">
              <input
                class="s-control"
                type="number"
                min="1"
                step="1"
                placeholder="{{ 'tr_search_installment_sale_number' | translate }}"
                [(ngModel)]="installmentSaleNumberTerm"
                (keyup)="filterByInstallmentSaleNumber($event)"
                (change)="filterByInstallmentSaleNumber($event)"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="form-group mb-0">
            <label>{{ 'tr_balance_filter' | translate }}</label>
            <div class="input-with-icon bg-white width-100">
              <ng-select
                class="s-control s-select"
                [items]="balanceSideOptions"
                bindLabel="labelKey"
                bindValue="value"
                [clearable]="false"
                [searchable]="false"
                [(ngModel)]="balanceSideFilter"
                (ngModelChange)="onBalanceSideFilterChange($event)"
                placeholder="{{ 'tr_balance_filter_all' | translate }}"
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ item.labelKey | translate }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.labelKey | translate }}
                </ng-template>
              </ng-select>
              <i class="fa fa-caret-down input-icon"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="form-group mb-0">
            <label>{{ 'tr_clients_sort' | translate }}</label>
            <div class="input-with-icon bg-white width-100">
              <ng-select
                class="s-control s-select"
                [items]="sortDirOptions"
                bindLabel="labelKey"
                bindValue="value"
                [clearable]="false"
                [searchable]="false"
                [(ngModel)]="sortDirFilter"
                (ngModelChange)="onSortDirFilterChange($event)"
                placeholder="{{ 'tr_clients_sort_newest' | translate }}"
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ item.labelKey | translate }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.labelKey | translate }}
                </ng-template>
              </ng-select>
              <i class="fa fa-caret-down input-icon"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="form-group mb-0">
            <label>{{ 'tr_installment_status_filter' | translate }}</label>
            <div class="input-with-icon bg-white width-100">
              <ng-select
                class="s-control s-select"
                [items]="installmentStatusOptions"
                bindLabel="labelKey"
                bindValue="value"
                [clearable]="false"
                [searchable]="false"
                [(ngModel)]="installmentStatusFilter"
                (ngModelChange)="onInstallmentStatusFilterChange($event)"
                placeholder="{{ 'tr_installment_status_filter_all' | translate }}"
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ item.labelKey | translate }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.labelKey | translate }}
                </ng-template>
              </ng-select>
              <i class="fa fa-caret-down input-icon"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="form-group mb-0">
            <label>{{ 'tr_due_date_from' | translate }}</label>
            <div class="input-with-icon bg-white width-100">
              <input
                class="s-control width-100"
                type="date"
                [(ngModel)]="installmentDueFrom"
                (change)="onInstallmentDueDateFilterChange()"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="form-group mb-0">
            <label>{{ 'tr_due_date_to' | translate }}</label>
            <div class="input-with-icon bg-white width-100">
              <input
                class="s-control width-100"
                type="date"
                [(ngModel)]="installmentDueTo"
                (change)="onInstallmentDueDateFilterChange()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="plr-4 mt-4" *ngIf="!clientsLoading">
      <div
        class="table-container"
        *ngIf="clientsList.length > 0 && viewMode === 'table'"
      >
        <table class="s-table table clients-list layout-fixed">
          <thead>
            <tr>
              <th>ID</th>
              <th>{{ 'tr_phone_number' | translate }}</th>
              <th>{{ 'tr_name' | translate }}</th>
              <th>{{ 'tr_address' | translate }}</th>
              <th>{{ 'tr_branch' | translate }}</th>
              <th>{{ 'tr_number_of_orders' | translate }}</th>
              <th>{{ 'tr_total_orders_price' | translate }}</th>
              <th>{{ 'tr_balance_debit_short' | translate }}</th>
              <th>{{ 'tr_balance_credit_short' | translate }}</th>
              <th>{{ 'tr_balance_net_short' | translate }}</th>
              <th>{{ 'tr_actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clientsList; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ client.phoneNumber }}</td>
              <td>
                {{ client.name }}
                <span
                  *ngIf="client.isEcommerceOnline"
                  class="badge badge-info ml-1"
                  style="font-size: 10px; vertical-align: middle;"
                >
                  {{ 'tr_client_online_ecommerce' | translate }}
                </span>
                <div class="table-installment-hint" *ngIf="clientHasOpenInstallments(client)">
                  <span class="table-installment-hint__badge">
                    {{ 'tr_client_has_installments' | translate }}
                  </span>
                  <div
                    class="table-installment-hint__sales"
                    *ngIf="clientOpenInstallmentSales(client).length; else tableAggFallback"
                  >
                    <span
                      class="table-installment-hint__sale"
                      *ngFor="let sale of clientOpenInstallmentSales(client); trackBy: trackInstallmentSale"
                    >
                      <span class="table-installment-hint__sale-no" *ngIf="sale.installmentSaleNumber">
                        {{ 'tr_installment_sale_number' | translate }} #{{ sale.installmentSaleNumber }}
                      </span>
                      <span class="table-installment-hint__sale-no" *ngIf="!sale.installmentSaleNumber && sale.orderNumber">
                        {{ 'tr_invoice_number' | translate }} #{{ sale.orderNumber }}
                      </span>
                      <span class="table-installment-hint__meta" *ngIf="sale.productNames">
                        {{ 'tr_product_name' | translate }}:
                        {{ sale.productNames }}
                      </span>
                      <span class="table-installment-hint__meta" *ngIf="sale.installmentAmount">
                        {{ 'tr_invoice_installment_monthly' | translate }}:
                        {{ sale.installmentAmount | currency:'EGP':'symbol':'1.2-2':'en-EG' }}
                      </span>
                      <span class="table-installment-hint__meta">
                        {{ 'tr_remaining' | translate }}:
                        {{ (sale.remainingAmount || 0) | currency:'EGP':'symbol':'1.2-2':'en-EG' }}
                        ·
                        {{
                          'tr_installments_progress'
                            | translate
                              : {
                                  paid: sale.paidInstallmentsCount || 0,
                                  total: sale.totalInstallmentsCount || 0
                                }
                        }}
                      </span>
                    </span>
                  </div>
                  <ng-template #tableAggFallback>
                    <span
                      class="table-installment-hint__sale-no"
                      *ngIf="clientInstallmentSaleNumbers(client).length"
                    >
                      {{ 'tr_installment_sale_number' | translate }}:
                      <ng-container *ngFor="let n of clientInstallmentSaleNumbers(client); let last = last">
                        #{{ n }}<span *ngIf="!last">، </span>
                      </ng-container>
                    </span>
                    <span class="table-installment-hint__meta">
                      {{ 'tr_remaining' | translate }}:
                      {{ (client.installmentRemainingAmount || 0) | currency:'EGP':'symbol':'1.2-2':'en-EG' }}
                      ·
                      {{
                        'tr_installments_progress'
                          | translate
                            : {
                                paid: client.paidInstallmentsCount || 0,
                                total: client.totalInstallmentsCount || 0
                              }
                      }}
                    </span>
                  </ng-template>
                </div>
                <div
                  class="table-installment-hint"
                  *ngIf="!clientHasOpenInstallments(client) && clientInstallmentSaleNumbers(client).length"
                >
                  <span class="table-installment-hint__sale-no">
                    {{ 'tr_installment_sale_number' | translate }}:
                    <ng-container *ngFor="let n of clientInstallmentSaleNumbers(client); let last = last">
                      #{{ n }}<span *ngIf="!last">، </span>
                    </ng-container>
                  </span>
                </div>
              </td>
              <td>{{ client.address }}</td>
              <td><div *ngFor="let branch of  client.branches ">
                {{branch}}
              </div></td>
              <td>{{ client.numberOfOrders }}</td>
              <td>{{ client.totalOrdersPrice | currency:'EGP':'symbol':'1.2-2':'en-EG' }}</td>
              <td class="text-debit">{{ (client.clientOwesUs || 0) | currency:'EGP':'symbol':'1.2-2':'en-EG' }}</td>
              <td class="text-credit">{{ (client.weOweClient || 0) | currency:'EGP':'symbol':'1.2-2':'en-EG' }}</td>
              <td>
                <span
                  class="balance-net-badge"
                  [class.balance-net-badge--debit]="client.balanceSide === 'debit'"
                  [class.balance-net-badge--credit]="client.balanceSide === 'credit'"
                  [class.balance-net-badge--even]="client.balanceSide === 'even' || client.balanceSide === 'none'"
                >
                  {{ clientNetBalanceText(client) }}
                </span>
              </td>
              <td>
                <span class="options-menu">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  <div class="options-menu-container p-0">
                    <div class="border-bottom"></div>
                    <div class="single-option" (click)="openClientHistory(client)">
                      {{ 'tr_client_history' | translate }}
                    </div>
                    <div class="single-option" (click)="openClientDeposit(client)">
                      {{ 'tr_client_add_deposit' | translate }}
                    </div>
                    <div class="single-option" (click)="createOrEditClient(true, client)">
                      {{ 'tr_action.edit' | translate }}
                    </div>
                  </div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="clients-cards" *ngIf="clientsList.length > 0 && viewMode === 'cards'">
        <div
          class="client-card"
          *ngFor="let client of clientsList"
          [class.client-card--installment]="clientHasOpenInstallments(client)"
        >
          <div class="client-card__top">
            <div class="client-card__icon" [class.client-card__icon--installment]="clientHasOpenInstallments(client)">
              <i
                class="fa"
                [class.fa-user]="!clientHasOpenInstallments(client)"
                [class.fa-calendar-check-o]="clientHasOpenInstallments(client)"
                aria-hidden="true"
              ></i>
            </div>
            <div class="client-card__title">
              <div class="client-card__name">
                {{ client.name || ('tr_phone_number' | translate) }}
                <span
                  *ngIf="client.isEcommerceOnline"
                  class="badge badge-info ml-1"
                  style="font-size: 10px;"
                >
                  {{ 'tr_client_online_ecommerce' | translate }}
                </span>
              </div>
              <div class="client-card__meta muted">
                <span>{{ client.phoneNumber }}</span>
                <span class="dot" *ngIf="client.address">•</span>
                <span *ngIf="client.address">{{ client.address }}</span>
              </div>
            </div>
            <span class="options-menu">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <div class="options-menu-container p-0">
                <div class="border-bottom"></div>
                <div class="single-option" (click)="openClientHistory(client)">
                  {{ 'tr_client_history' | translate }}
                </div>
                <div class="single-option" (click)="openClientDeposit(client)">
                  {{ 'tr_client_add_deposit' | translate }}
                </div>
                <div class="single-option" (click)="createOrEditClient(true, client)">
                  {{ 'tr_action.edit' | translate }}
                </div>
              </div>
            </span>
          </div>

          <div
            class="client-card__installment"
            *ngIf="clientHasOpenInstallments(client) || clientInstallmentSaleNumbers(client).length || clientInstallmentSales(client).length"
            [class.client-card__installment--collapsed]="shouldCollapseInstallmentCard(client)"
            [class.client-card__installment--collapsed-open]="isInstallmentCardExpanded(client)"
          >
            <div
              class="installment-banner"
              [class.installment-banner--toggle]="shouldCollapseInstallmentCard(client)"
              [attr.role]="shouldCollapseInstallmentCard(client) ? 'button' : null"
              [attr.tabindex]="shouldCollapseInstallmentCard(client) ? 0 : null"
              [attr.aria-expanded]="shouldCollapseInstallmentCard(client) ? isInstallmentCardExpanded(client) : null"
              (click)="toggleInstallmentCard(client, $event)"
              (keydown.enter)="toggleInstallmentCard(client, $event)"
              (keydown.space)="toggleInstallmentCard(client, $event); $event.preventDefault()"
            >
              <span class="installment-banner__toggle" *ngIf="shouldCollapseInstallmentCard(client)" aria-hidden="true">
                <i
                  class="fa"
                  [class.fa-chevron-down]="!isInstallmentCardExpanded(client)"
                  [class.fa-chevron-up]="isInstallmentCardExpanded(client)"
                ></i>
              </span>
              <span class="installment-banner__badge" *ngIf="clientHasOpenInstallments(client)">
                <i class="fa fa-money" aria-hidden="true"></i>
                {{ 'tr_client_has_installments' | translate }}
              </span>
              <span
                class="installment-banner__sale-no"
                *ngIf="!clientOpenInstallmentSales(client).length && clientInstallmentSaleNumbers(client).length"
              >
                <i class="fa fa-hashtag" aria-hidden="true"></i>
                {{ 'tr_installment_sale_number' | translate }}:
                <strong *ngFor="let n of clientInstallmentSaleNumbers(client); let last = last">
                  {{ n }}<span *ngIf="!last">، </span>
                </strong>
              </span>
              <span
                class="installment-banner__summary"
                *ngIf="shouldCollapseInstallmentCard(client)"
              >
                {{
                  'tr_client_installment_sales_count'
                    | translate: { count: clientOpenInstallmentSalesCount(client) }
                }}
                ·
                {{ 'tr_remaining' | translate }}:
                {{ clientOpenInstallmentRemainingTotal(client) | currency:'EGP':'symbol':'1.2-2':'en-EG' }}
              </span>
            </div>

            <ng-container *ngIf="isInstallmentCardExpanded(client)">
              <div
                class="installment-sales"
                *ngIf="clientOpenInstallmentSales(client).length; else cardAggFallback"
              >
                <div
                  class="installment-sale"
                  *ngFor="let sale of clientOpenInstallmentSales(client); trackBy: trackInstallmentSale"
                >
                  <div class="installment-sale__head">
                    <span class="installment-sale__badge" *ngIf="sale.installmentSaleNumber">
                      <i class="fa fa-hashtag" aria-hidden="true"></i>
                      {{ 'tr_installment_sale_number' | translate }}
                      <strong>#{{ sale.installmentSaleNumber }}</strong>
                    </span>
                    <span class="installment-sale__badge" *ngIf="!sale.installmentSaleNumber && sale.orderNumber">
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      {{ 'tr_invoice_number' | translate }}
                      <strong>#{{ sale.orderNumber }}</strong>
                    </span>
                  </div>
                  <div class="installment-sale__meta" *ngIf="sale.productNames || sale.installmentAmount">
                    <span *ngIf="sale.productNames">
                      {{ 'tr_product_name' | translate }}:
                      <strong>{{ sale.productNames }}</strong>
                    </span>
                    <span *ngIf="sale.installmentAmount">
                      {{ 'tr_invoice_installment_monthly' | translate }}:
                      <strong>{{ sale.installmentAmount | currency:'EGP':'symbol':'1.2-2':'en-EG' }}</strong>
                    </span>
                  </div>
                  <div class="installment-stats">
                    <div class="installment-stat installment-stat--remaining">
                      <div class="installment-stat__label">
                        {{ 'tr_installments_remaining_amount' | translate }}
                      </div>
                      <div class="installment-stat__value">
                        {{ (sale.remainingAmount || 0) | currency:'EGP':'symbol':'1.2-2':'en-EG' }}
                      </div>
                    </div>
                    <div class="installment-stat installment-stat--progress">
                      <div class="installment-stat__label">
                        {{ 'tr_installments_completed_count' | translate }}
                      </div>
                      <div class="installment-stat__value">
                        {{
                          'tr_installments_progress'
                            | translate
                              : {
                                  paid: sale.paidInstallmentsCount || 0,
                                  total: sale.totalInstallmentsCount || 0
                                }
                        }}
                      </div>
                      <div class="installment-stat__hint muted">
                        {{ 'tr_unpaid_installments_count' | translate }}:
                        {{ sale.unpaidInstallmentsCount || 0 }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ng-template #cardAggFallback>
                <div class="installment-stats" *ngIf="clientHasOpenInstallments(client)">
                  <div class="installment-stat installment-stat--remaining">
                    <div class="installment-stat__label">
                      {{ 'tr_installments_remaining_amount' | translate }}
                    </div>
                    <div class="installment-stat__value">
                      {{ (client.installmentRemainingAmount || 0) | currency:'EGP':'symbol':'1.2-2':'en-EG' }}
                    </div>
                  </div>
                  <div class="installment-stat installment-stat--progress">
                    <div class="installment-stat__label">
                      {{ 'tr_installments_completed_count' | translate }}
                    </div>
                    <div class="installment-stat__value">
                      {{
                        'tr_installments_progress'
                          | translate
                            : {
                                paid: client.paidInstallmentsCount || 0,
                                total: client.totalInstallmentsCount || 0
                              }
                      }}
                    </div>
                    <div class="installment-stat__hint muted">
                      {{ 'tr_unpaid_installments_count' | translate }}:
                      {{ client.unpaidInstallmentsCount || 0 }}
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </div>

          <div class="client-card__balances">
            <div class="balance-pill balance-pill--debit">
              <div class="balance-pill__label">{{ 'tr_balance_debit_short' | translate }}</div>
              <div class="balance-pill__value">
                {{ (client.clientOwesUs || 0) | currency:'EGP':'symbol':'1.2-2':'en-EG' }}
              </div>
            </div>
            <div class="balance-pill balance-pill--credit">
              <div class="balance-pill__label">{{ 'tr_balance_credit_short' | translate }}</div>
              <div class="balance-pill__value">
                {{ (client.weOweClient || 0) | currency:'EGP':'symbol':'1.2-2':'en-EG' }}
              </div>
            </div>
            <div
              class="balance-pill balance-pill--net"
              [class.balance-pill--net-debit]="client.balanceSide === 'debit'"
              [class.balance-pill--net-credit]="client.balanceSide === 'credit'"
            >
              <div class="balance-pill__label">{{ 'tr_balance_net_short' | translate }}</div>
              <div class="balance-pill__value balance-pill__value--net">
                {{ clientNetBalanceText(client) }}
              </div>
            </div>
          </div>

          <div class="client-card__stats">
            <div class="stat">
              <div class="stat__label">{{ 'tr_number_of_orders' | translate }}</div>
              <div class="stat__value">{{ client.numberOfOrders }}</div>
            </div>
            <div class="stat">
              <div class="stat__label">{{ 'tr_total_orders_price' | translate }}</div>
              <div class="stat__value">
                {{ client.totalOrdersPrice | currency:'EGP':'symbol':'1.2-2':'en-EG' }}
              </div>
            </div>
          </div>

          <div class="client-card__details" *ngIf="client.branches?.length">
            <div>
              <b>{{ 'tr_branch' | translate }}:</b>
              <div class="client-card__branches">
                <span *ngFor="let branch of client.branches; let last = last">
                  {{ branch }}<span *ngIf="!last">, </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="empty-state-here text-center ptb-8" *ngIf="clientsList.length === 0">
        <i class="fas fa-client-slash empty-icon"></i>
        <p>{{ 'tr_no_items_found' | translate }}</p>
      </div>
  
      <div class="plr-4 ptb-4">
        <pagination
          [paginationData]="paginationData"
          [perPage]="paginationPerPage"
          (paginationUpdate)="paginationUpdate($event)">
        </pagination>
      </div>
    </div>
  
    <div *ngIf="clientsLoading">
      <app-ghost-line [length]="12" [type]="'table'"></app-ghost-line>
    </div>
  </div>
