<div class="client-deposit-dialog bg-white plr-4 ptb-4">
  <div class="flex flex-space-between flex-middle mb-3">
    <h3 class="m-0">{{ 'tr_client_add_deposit' | translate }}</h3>
    <button type="button" class="s-btn btn-secondary" (click)="close()">✖</button>
  </div>

  <div class="mb-3 size-small text-muted">
    <div>
      {{ 'tr_name' | translate }}: <b>{{ client?.name }}</b>
    </div>
    <div>
      {{ 'tr_phone' | translate }}: <b>{{ client.phoneNumber }}</b>
    </div>
  </div>

  <div [formGroup]="form">
    <div class="form-group mb-3" *ngIf="showBranchPicker">
      <label>{{ 'tr_branches' | translate }}</label>
      <div class="input-with-icon">
        <ng-select
          class="s-control s-select"
          formControlName="branchId"
          [items]="branches"
          bindLabel="name"
          bindValue="_id"
          [clearable]="false"
          placeholder="{{ 'tr_branches' | translate }}"
        >
        </ng-select>
        <i class="fa fa-caret-down input-icon"></i>
      </div>
    </div>

    <div class="form-group mb-3">
      <label>{{ 'tr_cashier_payment_methods_multi' | translate }}</label>
      <button type="button" class="s-btn btn-secondary btn-sm" (click)="openPaymentSplitsDialog()">
        {{ 'tr_payment_splits_open' | translate }}
      </button>
      <p class="text-muted size-small m-0 mt-2" *ngIf="confirmedPayment">
        {{ paymentSummaryText() }}
      </p>
      <p class="text-muted size-small m-0 mt-1" *ngIf="!confirmedPayment">
        {{ 'tr_payment_splits_not_set' | translate }}
      </p>
      <p class="text-muted size-small m-0 mt-1">{{ 'tr_client_deposit_payment_hint' | translate }}</p>
    </div>

    <div class="form-group mb-3">
      <label>{{ 'tr_payment_note' | translate }}</label>
      <input class="s-control width-100" type="text" formControlName="note" />
    </div>
  </div>

  <div class="flex flex-end gap-2">
    <button type="button" class="s-btn btn-secondary" [disabled]="saving" (click)="close()">
      {{ 'tr_action.cancel' | translate }}
    </button>
    <button type="button" class="s-btn btn-primary" [disabled]="saving" (click)="submit()">
      {{ 'tr_action.save' | translate }}
    </button>
  </div>
</div>
