<div class="store-settings-page">
  <header class="store-settings-page__head">
    <h1 class="store-settings-page__title">{{ 'tr_store_settings_menu' | translate }}</h1>
    <p class="store-settings-page__lead">{{ 'tr_settings_lead' | translate }}</p>
  </header>

  <div class="store-settings-card">
    <div class="store-settings-card__field">
      <label class="store-settings-card__label">{{ 'tr_store_name' | translate }}</label>
      <input
        type="text"
        class="s-control"
        name="storeName"
        [(ngModel)]="form.storeName"
        maxlength="200"
        autocomplete="organization"
      />
    </div>

    <div class="store-settings-card__field">
      <label class="store-settings-card__label">{{ 'tr_store_phone' | translate }}</label>
      <input
        type="text"
        class="s-control"
        name="storePhone"
        [(ngModel)]="form.storePhoneNumber"
        maxlength="50"
        autocomplete="tel"
      />
    </div>

    <div class="store-settings-card__field">
      <label class="store-settings-card__label">{{ 'tr_receipt_language' | translate }}</label>
      <p class="store-settings-card__hint">{{ 'tr_receipt_language_hint' | translate }}</p>
      <select class="s-control" name="receiptLanguage" [(ngModel)]="form.receiptLanguage">
        <option *ngFor="let opt of receiptLanguageOptions" [value]="opt.value">
          {{ opt.labelKey | translate }}
        </option>
      </select>
    </div>

    <div class="store-settings-card__field">
      <label class="store-settings-card__label">{{ 'tr_payment_app_fees_open' | translate }}</label>
      <p class="store-settings-card__hint">{{ 'tr_payment_app_fees_settings_hint' | translate }}</p>
      <button type="button" class="s-btn btn-secondary" (click)="openPaymentAppFeesDialog()">
        <i class="fa fa-percent mr-1"></i>{{ 'tr_payment_app_fees_open' | translate }}
      </button>
    </div>

    <div class="store-settings-card__field store-settings-card__field--treasury">
      <label class="store-settings-card__label">{{ 'tr_purchase_treasury_settings_title' | translate }}</label>
      <p class="store-settings-card__hint">{{ 'tr_purchase_treasury_settings_hint' | translate }}</p>
      <div class="purchase-treasury-table">
        <div class="purchase-treasury-table__head">
          <span>{{ 'tr_purchase_treasury_display_name' | translate }}</span>
          <span></span>
        </div>
        <div class="purchase-treasury-table__row" *ngFor="let row of purchaseTreasuryRows; let i = index">
          <input
            type="text"
            class="s-control purchase-treasury-table__label"
            [(ngModel)]="row.label"
            name="ptDisplay{{ i }}"
            maxlength="120"
            autocomplete="off"
            [attr.placeholder]="row.key === 'cash' ? ('tr_treasury_cash' | translate) : ''"
          />
          <button
            type="button"
            class="s-btn btn-secondary btn-sm purchase-treasury-table__remove"
            (click)="removePurchaseTreasuryRow(i)"
            [disabled]="row.key === 'cash'"
            [attr.title]="'tr_remove' | translate"
          >
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </div>
      <button type="button" class="s-btn btn-secondary btn-sm mt-2" (click)="addPurchaseTreasuryRow()">
        <i class="fa fa-plus mr-1"></i>{{ 'tr_purchase_treasury_add' | translate }}
      </button>
    </div>

    <div class="store-settings-card__field">
      <label class="store-settings-card__label">{{ 'tr_store_logo' | translate }}</label>
      <p class="store-settings-card__hint">{{ 'tr_logo_hint' | translate }}</p>
      <div class="store-settings-card__logo-row">
        <div class="store-settings-card__preview">
          <img *ngIf="logoPreview" [src]="logoPreview" alt="" />
          <div
            *ngIf="!logoPreview"
            class="store-settings-card__preview-placeholder"
            aria-hidden="true"
          >
            <i class="fa fa-store"></i>
          </div>
        </div>
        <div class="store-settings-card__logo-actions">
          <label class="s-btn btn-secondary btn-sm store-settings-card__file-btn">
            <input type="file" accept="image/*" (change)="onLogoSelected($event)" />
            {{ 'tr_choose_image' | translate }}
          </label>
          <button type="button" class="s-btn btn-secondary btn-sm" (click)="clearLogo()">
            {{ 'tr_remove_logo' | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="store-settings-card__actions">
      <button
        type="button"
        class="s-btn btn-primary"
        (click)="save()"
        [disabled]="saving"
      >
        {{ 'tr_save_settings' | translate }}
      </button>
    </div>
  </div>
</div>
