.invoice-container {
    font-family: "Courier New", Courier, monospace;
    // direction: rtl;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    background-color: white;
    color: black;
  }
  
  .center {
    text-align: center;
    margin-bottom: 10px;
  }
  .dashed {
    border-top: 1px dashed black;
    margin: 10px 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
  }
  td, th {
    padding: 4px;
    text-align: right;
  }
  .total, .bold {
    font-weight: bold;
  }
  .double-border {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 10px 0;
  }
  .final-total {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  #print-container {
    display: none;
  }
  /* Only show invoice and hide everything else when printing */
@media print {
  @page {
    margin: 0;         /* Remove default page margin */
}
    body *, .modal-wrapper,.app-notification, #app-notifications-container {
      visibility: hidden;
      margin: 0;
      padding: 0;
      width: 58mm;
      margin: 0;
    }
    .app-notification, #app-notifications-container {
      display: none;
    }
  
    #print-container, #print-container * {
        visibility: visible;
        margin: 0 auto; /* Center horizontally */
        position: relative; /* Allow centering in normal flow */
        top: 0;
        left: 0;
        right: 0;
        
      }
   
    #print-container {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }




  
  .camera-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #000;
    border-radius: 8px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  
    video {
      border-radius: 8px;
    }
  }
  .code-scan-container {
    display: flex;
    align-items: center;
    gap: 8px;
  
    input {
      flex: 1;
      padding: 8px;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
  
    .scan-btn {
      background-color: #4caf50;
      width:80px;
      color: #fff;
      border: none;
      padding: 8px 12px;
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
  
      &:hover {
        background-color: #45a049;
      }
    }
  }
  