.products-list{
  td, th {
      &:nth-child(1){
          width: 5rem;
      }
      &:nth-child(2){
          width: 10rem;
      }
      &:nth-child(3){
          width: 10rem;
      }
      &:nth-child(4){
        width: 10rem;
    }
      &:nth-child(5){
          width: 10rem;
      }
      &:nth-child(6){
        width: 10rem;
    }
      &:nth-child(7){
        width: 4rem;
    }
   }
}
.product-image{
img{
  width: 30px;
  border-radius: 30px;
}
.empty-icon{
  font-size: 50px !important;
}

}
