@import 'mixins';

.main-container {
    margin: 0 auto;
    position: relative;
    min-height: 100vh;

    .main-header {

        margin-bottom: 35px;
        margin-top: 10px;
        background-color: white;
        position: sticky;
        padding: 10px;;
        top: 0;
        z-index: 10;
        height: 70px;
        border-radius: 18px;
        box-shadow: 0 2px 6px rgba(37, 83, 185, 0.1);
    }
}

// main mixin
@mixin biDirectional($start, $end) {
    .main-container {
        padding-#{$start}: 285px;
    }
}

// directions
@import 'directions/decide';

@media (max-width: 991px){
    @mixin biDirectional($start, $end) {
        .main-container {
            padding-#{$start}: 0;
        }
    }
    // directions
    @import 'directions/decide';
}

.disable-page{
    pointer-events: none;
    opacity: 0.6;
}

