@import 'mixins';

.main-container {
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    max-width: 100%;

    .main-content {
        min-width: 0;
        max-width: 100%;
        box-sizing: border-box;
    }

    .main-header {
        margin-bottom: 28px;
        margin-top: 10px;
        background-color: transparent;
        position: sticky;
        padding: 0;
        top: 0;
        z-index: 10;
        min-height: 64px;
    }
}

// main mixin
@mixin biDirectional($start, $end) {
    .main-container {
        padding-#{$start}: 285px;
        transition: padding 0.35s ease;

        &.main-container--sidebar-collapsed {
            padding-#{$start}: 104px;
        }
    }
}

// directions
@import 'directions/decide';

@media (max-width: 991px){
    @mixin biDirectional($start, $end) {
        .main-container {
            padding-#{$start}: 0;

            &.main-container--sidebar-collapsed {
                padding-#{$start}: 0;
            }
        }
    }
    // directions
    @import 'directions/decide';
}

.disable-page{
    pointer-events: none;
    opacity: 0.6;
}

