<div class="invoice-container" *ngIf="receipt && order">
  <ng-container *ngIf="storeSettings.settings$ | async as st">
    <div class="center mb-2" *ngIf="st.logoUrl">
      <img class="invoice-logo" [src]="st.logoUrl" alt="" />
    </div>

    <div class="store-name center mtb-4 bold">
      {{ st.storeName }}
    </div>

    <div class="center mb-2">
      <div class="payment-receipt-badge bold">
        {{ 'tr_payment_receipt_title' | receiptTranslate: st.receiptLanguage }}
      </div>
      <div class="payment-receipt-subtitle size-small">
        {{ 'tr_payment_receipt_not_invoice' | receiptTranslate: st.receiptLanguage }}
      </div>
    </div>

    <table class="invoice-table meta-table">
      <tr>
        <td>{{ 'tr_payment_receipt_invoice_ref' | receiptTranslate: st.receiptLanguage }}</td>
        <td>#{{ order?.orderNumber }}</td>
      </tr>
      <tr>
        <td>{{ 'tr_payment_date' | receiptTranslate: st.receiptLanguage }}</td>
        <td>{{ printDate | date: 'dd MMM y' }}</td>
      </tr>
    </table>

    <ng-container *ngIf="showReceiptClientSection">
      <div class="invoice-client-block">
        <div class="invoice-client-block__title">
          {{ receiptPartyTypeLabelKey() | receiptTranslate: st.receiptLanguage }}
        </div>
        <table class="invoice-table invoice-client-block__table">
          <tr *ngIf="order?.clientName && order.clientName !== 'Walk-in'">
            <td class="invoice-client-block__label">
              {{ 'tr_client_name' | receiptTranslate: st.receiptLanguage }}
            </td>
            <td>{{ order.clientName }}</td>
          </tr>
          <tr *ngIf="order?.clientPhoneNumber && order.clientPhoneNumber !== '00'">
            <td class="invoice-client-block__label">
              {{ 'tr_phone_number' | receiptTranslate: st.receiptLanguage }}
            </td>
            <td>{{ order.clientPhoneNumber }}</td>
          </tr>
        </table>
      </div>
    </ng-container>

    <table class="invoice-table products-table payment-receipt-products" *ngIf="products().length">
      <colgroup>
        <col class="products-table__col-name" />
        <col class="products-table__col-qty" />
      </colgroup>
      <tr class="header bold">
        <td>{{ 'tr_name' | receiptTranslate: st.receiptLanguage }}</td>
        <td>{{ 'tr_cashier.QTY' | receiptTranslate: st.receiptLanguage }}</td>
      </tr>
      <tr *ngFor="let item of products()">
        <td class="item-name">
          {{ item.name }}
          <div class="invoice-item-code" *ngIf="item.code">
            {{ item.code }}
          </div>
          <div class="invoice-item-attrs" *ngIf="item.invoiceAttributes?.length">
            <span class="invoice-item-attr" *ngFor="let ia of item.invoiceAttributes">
              {{ ia.label }}: {{ ia.value }}
            </span>
          </div>
        </td>
        <td>{{ item.quantity }}</td>
      </tr>
    </table>

    <table class="invoice-table totals-table">
      <tr class="bold">
        <td>{{ 'tr_payment_receipt_paid_now' | receiptTranslate: st.receiptLanguage }}</td>
        <td class="money">
          {{ formatReceiptAmount(paidNow()) }} {{ receiptCurrencyLabel(st.receiptLanguage) }}
        </td>
      </tr>
      <tr class="bold">
        <td>{{ 'tr_payment_receipt_remaining' | receiptTranslate: st.receiptLanguage }}</td>
        <td class="money">
          {{ formatReceiptAmount(remainingAfter()) }} {{ receiptCurrencyLabel(st.receiptLanguage) }}
        </td>
      </tr>
      <tr class="bold" *ngIf="remainingInstallments() !== null">
        <td>{{ 'tr_payment_receipt_remaining_installments' | receiptTranslate: st.receiptLanguage }}</td>
        <td class="money">{{ remainingInstallments() }}</td>
      </tr>
      <tr class="bold" *ngIf="isFullySettled()">
        <td colspan="2" class="center">
          {{ fullySettledLabelKey() | receiptTranslate: st.receiptLanguage }}
        </td>
      </tr>
    </table>

    <table class="invoice-table invoice-payments-table" *ngIf="thisPayments().length">
      <tr class="header bold">
        <td colspan="2">{{ 'tr_invoice_payments' | receiptTranslate: st.receiptLanguage }}</td>
      </tr>
      <tr *ngFor="let p of thisPayments()">
        <td>{{ payMethodReceiptLabel(p.method) }}</td>
        <td class="money">
          {{ formatReceiptAmount(p.amount) }} {{ receiptCurrencyLabel(st.receiptLanguage) }}
        </td>
      </tr>
    </table>

    <div class="separator double-border"></div>

    <div class="final-total center bold">
      {{ 'tr_payment_receipt_paid_now' | receiptTranslate: st.receiptLanguage }} <br />
      <span class="money">
        {{ formatReceiptAmount(paidNow()) }} {{ receiptCurrencyLabel(st.receiptLanguage) }}
      </span>
    </div>

    <div class="separator double-border"></div>

    <div class="final-total center bold">
      {{ 'tr_payment_receipt_remaining' | receiptTranslate: st.receiptLanguage }} <br />
      <span class="money">
        {{ formatReceiptAmount(remainingAfter()) }} {{ receiptCurrencyLabel(st.receiptLanguage) }}
      </span>
    </div>

    <div class="separator double-border"></div>

    <div class="footer center">
      <div class="bold">{{ st.storeName }}</div>
      <div>{{ st.storePhoneNumber }}</div>
    </div>

    <div class="invoice-qr center" *ngIf="invoiceQrDataUrl">
      <img class="invoice-qr__img" [src]="invoiceQrDataUrl" alt="" />
      <div class="invoice-qr__caption">innovation-tec.com</div>
    </div>
  </ng-container>
</div>
