<div class="complex-modal">
  <div class="modal-wrapper">
    <div class="close-modal-icon" (click)="closeModal()"></div>
    <div class="modal-content" #modalContent>
      <div class="modal-header border-bottom">
        <h3 class="steel weight-medium size-default m-0">
          {{ "tr_new_category" | translate }}
        </h3>
      </div>
      <div class="modal-body weight-medium steel">
        <div class="add-student-modal-container">
          <div>
            <div class="content-container plr-4 ptb-3">
              <div
                class="alert alert-error mb-3"
                *ngIf="categoryForm.invalid && categoryForm.submitted"
              >
                {{ "tr_fill_required_fields" | translate }}
              </div>

              <form #categoryForm="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div
                      class="form-group"
                      [class.has-error]="
                        categoryName.invalid && categoryForm.submitted
                      "
                    >
                      <label for="">
                        {{ "tr_category_name" | translate }}
                      </label>
                      <input
                        #categoryName="ngModel"
                        type="text"
                        class="s-control"
                        name="name"
                        ngModel
                        required
                      />
                      <span
                        class="text-error size-small validator"
                        *ngIf="categoryName.invalid && categoryForm.submitted"
                      >
                        {{ "tr_category_name_required" | translate }}
                      </span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer mt-3 text-right">
        <button class="s-btn btn-secondary mr-3" (click)="closeModal()">
          {{ "tr_cancel" | translate }}
        </button>
        <button
          (click)="submitForm()"
          class="s-btn btn-primary"
          type="submit"
        >
          {{ "tr_save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
