<div class="complex-modal">
  <div class="modal-wrapper">
    <div class="close-modal-icon" (click)="closeModal()"></div>
    <div class="modal-content" #modalContent>
      <div class="modal-header border-bottom">
        <h3 class="steel weight-medium size-default m-0">
          {{ (isEdit ? "tr_edit_category" : "tr_new_category") | translate }}
        </h3>
      </div>
      <div class="modal-body weight-medium steel">
        <div class="add-student-modal-container">
          <div>
            <div class="content-container plr-4 ptb-3">
              <div
                class="alert alert-error mb-3"
                *ngIf="categoryForm.invalid && categoryForm.submitted"
              >
                {{ "tr_fill_required_fields" | translate }}
              </div>

              <form #categoryForm="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div
                      class="form-group"
                      [class.has-error]="
                        categoryName.invalid && categoryForm.submitted
                      "
                    >
                      <label for="">
                        {{ "tr_category_name" | translate }}
                      </label>
                      <input
                        #categoryName="ngModel"
                        type="text"
                        class="s-control"
                        name="name"
                        ngModel
                        required
                      />
                      <span
                        class="text-error size-small validator"
                        *ngIf="categoryName.invalid && categoryForm.submitted"
                      >
                        {{ "tr_category_name_required" | translate }}
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="form-group"
                      [class.has-error]="
                        categoryCode.invalid && categoryForm.submitted
                      "
                    >
                      <label>{{ "tr_category_short_code" | translate }}</label>
                      <input
                        #categoryCode="ngModel"
                        type="text"
                        class="s-control"
                        name="code"
                        ngModel
                        required
                        autocomplete="off"
                        placeholder="ELEC"
                      />
                      <p class="text-muted size-small m-0 mt-1">
                        {{ "tr_category_code_hint" | translate }}
                      </p>
                      <span
                        class="text-error size-small validator"
                        *ngIf="categoryCode.invalid && categoryForm.submitted"
                      >
                        {{ "tr_category_code_required" | translate }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group mb-0 category-multi-code-checkbox">
                  <span class="s-checkbox size-tiny flex align-items-start">
                    <input
                      type="checkbox"
                      name="multiCodePerPiece"
                      [attr.id]="'category-multi-code-' + (categoryId || 'new')"
                      ngModel
                    />
                    <label
                      class="category-multi-code-checkbox__label"
                      [attr.for]="'category-multi-code-' + (categoryId || 'new')"
                    >
                      {{ "tr_category_multi_code_per_piece" | translate }}
                    </label>
                  </span>
                  <p class="category-multi-code-checkbox__hint text-muted size-small weight-normal m-0">
                    {{ "tr_category_multi_code_hint" | translate }}
                  </p>
                </div>

                <div
                  class="form-group mb-0 category-multi-code-checkbox"
                  *ngIf="storeSettings.snapshot.weightSalesEnabled"
                >
                  <span class="s-checkbox size-tiny flex align-items-start">
                    <input
                      type="checkbox"
                      name="sellByWeight"
                      [(ngModel)]="sellByWeight"
                      [attr.id]="'category-sell-by-weight-' + (categoryId || 'new')"
                    />
                    <label
                      class="category-multi-code-checkbox__label"
                      [attr.for]="'category-sell-by-weight-' + (categoryId || 'new')"
                    >
                      {{ "tr_category_sell_by_weight" | translate }}
                    </label>
                  </span>
                  <p class="category-multi-code-checkbox__hint text-muted size-small weight-normal m-0">
                    {{ "tr_category_sell_by_weight_hint" | translate }}
                  </p>
                  <div class="form-group mt-2 mb-0" *ngIf="sellByWeight">
                    <label>{{ "tr_weight_unit" | translate }}</label>
                    <select class="s-control" name="weightUnit" [(ngModel)]="weightUnit">
                      <option value="kg">{{ "tr_weight_unit_kg" | translate }}</option>
                      <option value="g">{{ "tr_weight_unit_g" | translate }}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group category-delete-stock-select">
                  <label for="category-delete-when-out-of-stock">
                    {{ "tr_category_delete_when_out_of_stock" | translate }}
                  </label>
                  <select
                    id="category-delete-when-out-of-stock"
                    class="s-control"
                    name="deleteProductWhenOutOfStock"
                    [(ngModel)]="deleteProductWhenOutOfStock"
                  >
                    <option [ngValue]="false">
                      {{ "tr_category_keep_when_out_of_stock" | translate }}
                    </option>
                    <option [ngValue]="true">
                      {{ "tr_category_remove_when_out_of_stock" | translate }}
                    </option>
                  </select>
                  <p class="text-muted size-small m-0 mt-1">
                    {{ "tr_category_delete_when_out_of_stock_hint" | translate }}
                  </p>
                </div>

                <div class="form-group category-show-code-select">
                  <label for="category-show-product-code-on-invoice">
                    {{ "tr_category_show_product_code_on_invoice" | translate }}
                  </label>
                  <select
                    id="category-show-product-code-on-invoice"
                    class="s-control"
                    name="showProductCodeOnInvoice"
                    [(ngModel)]="showProductCodeOnInvoice"
                  >
                    <option [ngValue]="true">
                      {{ "tr_category_show_product_code_yes" | translate }}
                    </option>
                    <option [ngValue]="false">
                      {{ "tr_category_show_product_code_no" | translate }}
                    </option>
                  </select>
                  <p class="text-muted size-small m-0 mt-1">
                    {{ "tr_category_show_product_code_on_invoice_hint" | translate }}
                  </p>
                </div>

                <div class="category-attrs-block">
                  <div class="category-attrs-toolbar">
                    <label class="category-attrs-toolbar__title m-0">{{ 'tr_category_attributes' | translate }}</label>
                    <button type="button" class="s-btn btn-secondary prevent-flex-shrink" (click)="addAttributeRow()">
                      {{ 'tr_add_field' | translate }}
                    </button>
                  </div>

                  <div class="category-attrs-grid">
                    <div class="category-attrs-head">
                      <span>{{ 'tr_category_attr_col_name' | translate }}</span>
                      <span>{{ 'tr_category_attr_col_show' | translate }}</span>
                      <span></span>
                    </div>

                    <div
                      class="category-attr-row"
                      *ngFor="let row of attributeRows; let i = index; trackBy: trackByIndex"
                    >
                      <div class="category-attr-row__key">
                        <label class="category-attr-row__label-inline">{{ 'tr_attribute_key' | translate }}</label>
                        <div class="form-group">
                          <input
                            type="text"
                            class="s-control"
                            [(ngModel)]="attributeRows[i].key"
                            [ngModelOptions]="{ standalone: true }"
                            [attr.placeholder]="'tr_category_attr_placeholder' | translate"
                          />
                        </div>
                      </div>
                      <div class="category-attr-row__checks">
                        <span
                          class="s-checkbox size-tiny flex"
                          [attr.title]="'tr_show_attribute_on_invoice' | translate"
                        >
                          <input
                            type="checkbox"
                            [id]="'category-attr-' + i + '-invoice'"
                            [(ngModel)]="attributeRows[i].showOnInvoice"
                            [ngModelOptions]="{ standalone: true }"
                          />
                          <label [attr.for]="'category-attr-' + i + '-invoice'">{{ 'tr_attr_invoice_short' | translate }}</label>
                        </span>
                        <span
                          class="s-checkbox size-tiny flex"
                          [attr.title]="'tr_show_attribute_value_on_barcode' | translate"
                        >
                          <input
                            type="checkbox"
                            [id]="'category-attr-' + i + '-barcode'"
                            [(ngModel)]="attributeRows[i].showInBarcode"
                            [ngModelOptions]="{ standalone: true }"
                          />
                          <label [attr.for]="'category-attr-' + i + '-barcode'">{{ 'tr_attr_barcode_short' | translate }}</label>
                        </span>
                      </div>
                      <div class="category-attr-row__remove">
                        <button type="button" class="s-btn btn-danger" (click)="removeAttributeRow(i)">
                          {{ 'tr_remove' | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer mt-3 text-right">
        <button class="s-btn btn-secondary mr-3" (click)="closeModal()">
          {{ "tr_cancel" | translate }}
        </button>
        <button
          (click)="submitForm()"
          class="s-btn btn-primary"
          type="submit"
        >
          {{ "tr_save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
