<div class="complex-modal">
  <div class="modal-wrapper">
    <div class="close-modal-icon" (click)="closeModal()"></div>
    <div class="modal-content" #modalContent>
      <div class="modal-header border-bottom">
        <h3 class="steel weight-medium size-default m-0">
          {{ (isEdit ? "tr_edit_category" : "tr_new_category") | translate }}
        </h3>
      </div>
      <div class="modal-body weight-medium steel">
        <div class="add-student-modal-container">
          <div>
            <div class="content-container plr-4 ptb-3">
              <div
                class="alert alert-error mb-3"
                *ngIf="categoryForm.invalid && categoryForm.submitted"
              >
                {{ "tr_fill_required_fields" | translate }}
              </div>

              <form #categoryForm="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div
                      class="form-group"
                      [class.has-error]="
                        categoryName.invalid && categoryForm.submitted
                      "
                    >
                      <label for="">
                        {{ "tr_category_name" | translate }}
                      </label>
                      <input
                        #categoryName="ngModel"
                        type="text"
                        class="s-control"
                        name="name"
                        ngModel
                        required
                      />
                      <span
                        class="text-error size-small validator"
                        *ngIf="categoryName.invalid && categoryForm.submitted"
                      >
                        {{ "tr_category_name_required" | translate }}
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="form-group"
                      [class.has-error]="
                        categoryCode.invalid && categoryForm.submitted
                      "
                    >
                      <label>{{ "tr_category_short_code" | translate }}</label>
                      <input
                        #categoryCode="ngModel"
                        type="text"
                        class="s-control"
                        name="code"
                        ngModel
                        required
                        autocomplete="off"
                        placeholder="ELEC"
                      />
                      <p class="text-muted size-small m-0 mt-1">
                        {{ "tr_category_code_hint" | translate }}
                      </p>
                      <span
                        class="text-error size-small validator"
                        *ngIf="categoryCode.invalid && categoryForm.submitted"
                      >
                        {{ "tr_category_code_required" | translate }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="mt-3">
                  <div class="flex flex-space-between flex-middle mb-2">
                    <label class="m-0">{{ 'tr_category_attributes' | translate }}</label>
                    <button type="button" class="s-btn btn-secondary prevent-flex-shrink" (click)="addAttributeRow()">
                      {{ 'tr_add_field' | translate }}
                    </button>
                  </div>

                  <div class="row" *ngFor="let a of attributeDefs; let i = index; trackBy: trackByIndex">
                    <div class="col-md-5">
                      <div class="form-group mb-2">
                        <label class="size-small">{{ 'tr_attribute_key' | translate }}</label>
                        <input
                          type="text"
                          class="s-control"
                          [(ngModel)]="attributeDefs[i]"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="e.g. color"

                        />
                      </div>
                    </div>
                    <div class="col-md-2 flex flex-middle">
                      <button type="button" class="s-btn btn-danger mt-3" (click)="removeAttributeRow(i)">
                        {{ 'tr_remove' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer mt-3 text-right">
        <button class="s-btn btn-secondary mr-3" (click)="closeModal()">
          {{ "tr_cancel" | translate }}
        </button>
        <button
          (click)="submitForm()"
          class="s-btn btn-primary"
          type="submit"
        >
          {{ "tr_save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
