.purchasing-select-field {
  position: relative;

  &:has(.ng-select-opened) {
    z-index: 8;
  }

  ::ng-deep ng-select.ng-select-opened {
    z-index: 60 !important;
  }

  ::ng-deep ng-select .ng-dropdown-panel {
    z-index: 70 !important;
  }

  .input-icon {
    pointer-events: none;
  }
}
