<div class="sidebar-background" (click)="closeSidebar()"></div>
<div
  id="main-sidebar"
  class="main-sidebar"
  [class.main-sidebar--collapsed]="isCollapsed"
>
  <div class="app-sidebar">
    <a routerLink="/home" class="logo-container pb-3 flex flex-middle flex-center" (click)="closeSidebar()">
      <ng-container *ngIf="storeSettings.settings$ | async as store">
        <img
          class="logo"
          src="/assets/images/logo3.png"
          alt=""
        />
        <div class="logo-container__text">
          <span class="size-lead weight-bold text-lavander">INVEX</span>
          <div class="store-name">{{ store.storeName }}</div>
        </div>
      </ng-container>
    </a>

    <nav class="main-routing-links plr-2" aria-label="Main">
      <div
        *ngFor="let link of appSidebar"
        routerLinkActive="active-link"
        class="anchor-container"
      >
        <div>
          <a
            [routerLink]="link.routerLink"
            [attr.title]="link.name | translate"
            (click)="closeSidebar()"
          >
            <div class="link-content">
              <span [class]="link.icon"></span>
              <span class="main-icon-text">
                {{ link.name | translate }}
              </span>
            </div>
          </a>
        </div>
        <span
          *ngIf="link.children"
          class="fa fa-caret-down children-arrow"
          (click)="toggleChildren($event)"
        ></span>
        <div *ngIf="link.children" class="child-menu mr-2">
          <div
            *ngFor="let child of link.children"
            routerLinkActive="child-active"
            class="anchor-container"
          >
            <a
              [routerLink]="child.routerLink"
              [attr.title]="child.name | translate"
              (click)="closeSidebar()"
            >
              <div class="link-content">
                <span class="size-small">
                  {{ child.name | translate }}
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="sidebar-footer hidden-mobile">
      <button
        type="button"
        class="sidebar-collapse-btn"
        (click)="toggleCollapse()"
        [attr.aria-expanded]="!isCollapsed"
        [attr.aria-label]="(isCollapsed ? 'tr_sidebar_expand_menu' : 'tr_sidebar_collapse_menu') | translate"
      >
        <i
          class="fa"
          [ngClass]="isCollapsed ? 'fa-angle-double-right' : 'fa-angle-double-left'"
          aria-hidden="true"
        ></i>
      </button>
    </div>
  </div>
</div>
