<div class="content-shadow bg-white mb-5 treasury-config-page">
  <div class="treasury-config-page__toolbar plr-4 pt-3">
    <button type="button" class="s-btn btn-link" (click)="back()">
      <i class="fa fa-arrow-left"></i>
      {{ 'tr_treasury_balances' | translate }}
    </button>
  </div>

  <div class="treasury-config-page__body" *ngIf="mode === 'treasuries'">
    <app-purchase-treasury-dialog></app-purchase-treasury-dialog>
  </div>
  <div class="treasury-config-page__body" *ngIf="mode === 'payment-methods'">
    <app-payment-app-fees-dialog></app-payment-app-fees-dialog>
  </div>
  <div class="treasury-config-page__body" *ngIf="mode === 'payment-map'">
    <app-payment-method-account-map-dialog></app-payment-method-account-map-dialog>
  </div>
</div>
