<div
  class="content-shadow bg-white mb-5"
  not-authorized
  [notAuthorized]="isNotAuthorized"
>
  <h2 class="size-body title-with-btn plr-4 ptb-4">
    <span class="page-title">{{ "tr_orders" | translate }}</span>
    <div class="btn-group">
      <button class="s-btn btn-primary" (click)="createOrEditOrder(false)">
        {{ "tr_add_order" | translate }}
      </button>
      <button
        class="s-btn btn-secondary size-body"
        (click)="isFilterOpen = !isFilterOpen"
      >
        <i class="fa fa-filter text-primary" aria-hidden="false"></i>
      </button>
    </div>
  </h2>
  <div class="filters-card bg-secondary plr-4 ptb-2 mb-7" *ngIf="isFilterOpen">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group mb-0">
          <label>{{ "tr_name" | translate }}/{{ "tr_code" | translate }}</label>
          <div class="input-with-icon bg-white width-100">
            <input
              class="text"
              class="s-control"
              (keyup)="filterorders($event, 'searchTerm')"
              placeholder="{{ 'tr_search' | translate }}"
              [(ngModel)]="nameSearchTerm"
            />
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="form-group mb-0">
          <label>{{ "tr_code" | translate }}</label>
          <div class="input-with-icon bg-white width-100">
            <input
              class="text"
              (keyup)="filterorders($event, 'byCode')"
              class="s-control"
              placeholder="{{ 'tr_search_by_code' | translate }}"
              [(ngModel)]="numberSearchTerm"
            />
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-3">
        <div class="form-group mb-0">
          <label>{{ "tr_category" | translate }}</label>
          <div class="input-with-icon bg-white width-100">
            <ng-select
              class="s-control s-select"
              (change)="filterorders(selectedcategory, 'by_category_id')"
              bindValue="id"
              (scrollToEnd)="nextBatch()"
              bindLabel="name"
              [loading]="categorysLoading"
              [searchable]="false"
              placeholder="{{ 'tr_select' | translate }}"
              notFoundText="{{ 'tr_no_items_found' | translate }}"
              (clear)="filterorders('', 'by_category_id')"
              autofocus
              [(ngModel)]="selectedcategory"
              [items]="categorys"
              name="category"
            >
              <ng-template ng-footer-tmp>
                <div class="mb-2 bg-white" *ngIf="categorysLoading">
                  <app-ghost-line
                    [height]="10"
                    [length]="3"
                    [width]="100"
                    [type]="'list'"
                  ></app-ghost-line>
                </div>
                <div
                  class="text-error size-tiny bg-white plr-2"
                  *ngIf="iscategoryNotAuthorized"
                >
                  {{ "tr_permission_error_message" | translate }}
                </div>
              </ng-template>
            </ng-select>
            <i class="fa fa-caret-down input-icon"></i>
          </div>
        </div>
      </div> -->
  
    </div>
  </div>
  <div>
    <div class="plr-4 mt-4" *ngIf="!ordersLoading">
      <div
        class="table-container orders-list"
        id="table-container"
        *ngIf="ordersList.length > 0"
      >
        <table class="s-table table layout-fixed orders-list">
            <thead>
              <tr>
                <th>Order Number</th>
                <th>Client Name</th>
                <th>Branch</th>
                <th>Number Of Products</th>
                <th>price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of ordersList">
                <td>{{ order._id }}</td>
                <td>{{ order.clientName }}</td>
                <td>{{ order.branch?.name }}</td>
                <td>{{ order.numberOfProducts }}</td>
                <td>{{ order.totalPrice}}</td>
                <td>
                  <span class="options-menu">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <div class="options-menu-container p-0">
                      <div
                        class="single-option"
                        (click)="createOrEditOrder(true, order)"
                      >
                        {{ "tr_action.edit" | translate }}
                      </div>
                    
                    </div>
                  </span>
                </td>
              </tr>
            </tbody>


        </table>
      </div>
      <div
        class="empty-state-here text-center ptb-8"
        *ngIf="ordersList.length == 0"
      >
        <img
          class="placeholder-icon"
          src="assets/images/placeholders/announcments.svg"
          alt=""
        />
        <p>{{ "tr_empty_state" | translate }}</p>
      </div>
      <div
      class="empty-state-here text-center ptb-8"
      *ngIf="ordersList.length == 0"
    >
    <i class="fas fa-box-open empty-icon"></i>
    <p class="empty-text">No items found.</p>
    </div>

      <div class="plr-4 ptb-4">
        <pagination
          [paginationData]="paginationData"
          [perPage]="paginationPerPage"
          (paginationUpdate)="paginationUpdate($event)"
        ></pagination>
      </div>
    </div>

    <div *ngIf="ordersLoading">
      <app-ghost-line [length]="12" [type]="'table'"></app-ghost-line>
    </div>
  </div>
</div>
