<div class="row">
  <div class="col-md-12">
    <div class="filters-card bg-secondary plr-4 ptb-2 mt-4">
      <div class="row">
        <!-- <div class="filters-card bg-secondary plr-4 ptb-2 mt-4">
          </div> -->
        <div class="col-md-4" >
          <div
            class="form-group"
          >
            <label>{{ 'tr_branches' | translate }}</label>
            <div class="input-with-icon bg-white">
              <ng-select
                class="s-control s-select"
                placeholder="{{ 'tr_select' | translate }}"
                bindLabel="name"
                bindValue="_id"
                [clearable]="false"
                [(ngModel)]= "selectedBranch"
                #branch="ngModel"
                name="branchId"
                [items]="branches"
                (change)="changeBranch()"
                required
              >
              </ng-select>
              <i class="fa fa-caret-down input-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>



  <div class="col-md-12">
    <div class="container-card">
      <div class="mb-4 border-bottom pb-3">
        <div class="size-lead weight-medium steel flex flex-middle flex-space-between">
          <div>
            <a class="hover-link pointer weight-bold">{{ 'sales_summary' | translate }}</a>
            <!-- <div class="size-small mtb-1 plr-1">{{ 'tr_sales_increase' | translate:{percent:38} }}</div> -->
          </div>
        </div>

        <div class="filters-card bg-secondary plr-4 ptb-2 mt-4">
          <div >
        
            <div class="row">
              <div class="form-group col-md-3">
                <label for="">{{'tr_from' | translate}}</label>
                <div class="input-with-icon">
                    <input [(ngModel)]="fromDate"  (dateChange)="getOrderStatistics()"
                        placeholder="{{'tr_pick_date' | translate}}"  [matDatepicker]="pickId" class="s-control bg-white">
                    <mat-datepicker #pickId></mat-datepicker>
                    <mat-datepicker-toggle class="input-icon date-picker" [for]="pickId">
                    </mat-datepicker-toggle>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="">{{'tr_to' | translate}}</label>
                <div class="input-with-icon">
                    <input [(ngModel)]="toDate"
                        placeholder="{{'tr_pick_date' | translate}}" [matDatepicker]="pickId2" class="s-control bg-white" (dateChange)="getOrderStatistics()">
                    <mat-datepicker #pickId2></mat-datepicker>
                    <mat-datepicker-toggle class="input-icon date-picker" [for]="pickId2">
                    </mat-datepicker-toggle>
                </div>
            </div>
     
            </div>
      
          </div>
        </div>

        <div class="flex flex-middle width-100 flex-wrap">
          <div>
            <div class="flex flex-middle mt-6">
              <div class="bg-light-success text-success border-success border rounded-100 size-small ptb-3 plr-3">
                <i class="fa fa-users"></i>
              </div>
              <div class="ml-3">
                <a class="hover-link pointer weight-bold" >{{orderStatistics?.totalInvoices}} {{ 'tr_total_number_of_invoices' | translate }} </a>
                <div class="size-small mtb-1 steel weight-bold">{{fromDate | date: 'dd/M/YYYY'}} {{'tr_to' | translate}} {{toDate | date: 'dd/M/YYYY'}}</div>
              </div>
            </div>

            <div class="flex flex-middle mt-6">
              <div class="bg-secondary text-primary border rounded-100 size-small ptb-3 plr-3">
                <i class="fa fa-link"></i>
              </div>
              <div class="ml-3">
                <a class="hover-link pointer weight-bold" >{{orderStatistics?.totalSales}} {{ 'tr_total_amount' | translate}} </a>
                <div class="size-small mtb-1 steel weight-bold">{{fromDate | date: 'dd/M/YYYY'}} {{'tr_to' | translate}} {{toDate | date: 'dd/M/YYYY'}}</div>
              </div>
            </div>

            <div class="flex flex-middle mt-6">
              <div class="bg-warning text-warning border rounded-100 size-small ptb-3 plr-3">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="ml-3">
                <a class="hover-link pointer weight-bold" >{{orderStatistics?.netProfit}} {{ 'tr_net_profit' | translate }} </a>
                <div class="size-small mtb-1 steel weight-bold">{{fromDate | date: 'dd/M/YYYY'}} {{'tr_to' | translate}} {{toDate | date: 'dd/M/YYYY'}}</div>
              </div>
            </div>
          </div>
          <div>
            <img src="assets/images/laptop.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Products -->
  <div class="col-md-4">
    <div class="container-card" (click)="openProductsDetails()">
      <div class="dashboard-card-header">
        <span class="title">{{ 'tr_products' | translate }}</span>
        <span class="count">{{ this.productsStats?.totalProducts }}</span>
      </div>
      <div id="products-chart" style="width: 100%; height: 200px;"></div>
      <div class="text-center steel">{{ 'tr_stock_status' | translate }}</div>
    </div>
  </div>

  <!-- Orders -->
  <div class="col-md-4">
    <div class="container-card" (click)="openOrdersDetails()">
      <div class="dashboard-card-header">
        <span class="title">{{ 'tr_orders' | translate }}</span>
      </div>
      <div id="orders-chart" style="width: 100%; height: 200px;"></div>
      <div class="text-center steel">{{ 'tr_order_status' | translate }}</div>
    </div>
  </div>

  <!-- Invoices -->
  <div class="col-md-6 mt-4">
    <div class="container-card" (click)="openInvoicesDetails()">
      <div class="dashboard-card-header">
        <span class="title">{{ 'tr_invoices' | translate }}</span>
        <span class="count">{{ totalInvoices }}</span>
      </div>
      <div id="invoices-chart" style="width: 100%; height: 250px;"></div>
      <div class="text-center steel">{{ 'tr_invoice_stats' | translate }}</div>
    </div>
  </div>

  <!-- Categories -->
  <div class="col-md-6 mt-4">
    <div class="container-card" (click)="openCategoriesDetails()">
      <div class="dashboard-card-header">
        <span class="title">{{ 'tr_categories' | translate }}</span>
        <span class="count">{{ totalCategories }}</span>
      </div>
      <div id="categories-chart" style="width: 100%; height: 250px;"></div>
      <div class="text-center steel">{{ 'tr_category_distribution' | translate }}</div>
    </div>
  </div>

</div>
