
<div class="mlr-4">
  <div class="flex flex-middle flex-wrap">


    <div  *ngFor="let link of appSidebar" routerLinkActive="active-link">
      <!-- <div class="childreen-link-container flex flex-middle" *ngIf="link.children">
        <div class="child-link-container" *ngFor="let child of link.children">
          <div class="text-center">
            <div class="link-circle-container" >
              <a [routerLink]="child.routerLink">
                <div class="link-content">
                  <span class="text-primary icon" [class]="child.icon"></span>

                </div>
              </a>
            </div>
            <span >
              {{ child.name | translate }}
            </span>
          </div>
        </div>
      </div> -->

      <!-- <div class="link-container" *ngIf="!link.children">
        <div class="text-center">
          <div class="link-circle-container" >
            <a [routerLink]="link.routerLink">
              <div class="link-content">
                <span class="text-primary icon" [class]="link.icon"></span>

              </div>
            </a>
          </div>
          <span >
            {{ link.name | translate }}
          </span>
        </div>
      </div> -->




      <!-- <div *ngIf="link.children" class="child-menu mlr-2">
        <div *ngFor="let child of link.children" routerLinkActive="child-active" class="anchor-container">
          <a [routerLink]="child.routerLink" >
            <div class="link-content">
              <span>

                <p class="size-small" >
                  {{child.name | translate}}
                </p>
              </span>
            </div>
          </a>
        </div>
      </div> -->
    </div>
  </div>

<div class="row">
  <div class="col-md-6">
    <div class="container-card">
      <div class="mb-4 border-bottom pb-3">
          <div class="size-lead weight-medium steel flex flex-middle flex-space-between">
            <div>
              <a class="hover-link pointer weight-bold">Congratulations Jonathan</a>
              <div class="size-small mtb-1 plr-1">You have done 38% more saless</div>
            </div>

          </div>
          <div class="flex flex-middle">
            <div>
              <div class="flex flex-middle mt-6">
                  <div class="bg-light-success text-success border-success border rounded-100 size-small ptb-3 plr-3">
                    <i class="fa fa-users"></i>
                  </div>
                  <div class="ml-3">
                    <a class="hover-link pointer weight-bold" href="/employees">60 new user</a>
                    <div class="size-small mtb-1 steel weight-bold">Last 7 days</div>
                  </div>
              </div>

              <div class="flex flex-middle mt-6">
                  <div class="bg-secondary text-primary border rounded-100 size-small ptb-3 plr-3">
                    <i class="fa fa-link"></i>
                  </div>
                  <div class="ml-3">
                    <a class="hover-link pointer weight-bold" href="/employees">54 new products</a>
                    <div class="size-small mtb-1 steel weight-bold">Last 7 days</div>
                  </div>
              </div>

              <div class="flex flex-middle mt-6">
                  <div class="bg-warning text-warning border rounded-100 size-small ptb-3 plr-3">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <div class="ml-3 ">
                    <a class="hover-link pointer weight-bold" href="/employees">87 new uploaded file</a>
                    <div class="size-small mtb-1 steel weight-bold">Last 7 days</div>
                  </div>
              </div>
            </div>

            <div>
              <img src="assets/images/laptop.png" alt="">
            </div>
          </div>
      </div>

      <div class="mt-8 pt-4">
        <div class="size-lead weight-medium steel flex flex-middle flex-space-between">
          <div>
            <a class="hover-link pointer weight-bold">Performance Mangment</a>
            <div class="size-small mtb-1 plr-1">You have done 38% more saless</div>
          </div>

        </div>
        <div>
          <div class="mtb-6" id="performance-container" style="width: 100%; height: 250px;"></div>
        </div>
    </div>


    </div>
  </div>



  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="container-card">
          <div class="size-lead weight-medium steel flex flex-middle flex-space-between">
            <div class="flex flex-middle flex-direction-column ">
              <a class="hover-link pointer weight-bold" href="/employees">Employees</a>
              <div class="size-small mtb-1 plr-3">Last 7 days</div>
            </div>

            <div class="flex flex-middle flex-direction-column ">
              <div class="mb-1 weight-bold">234</div> <!-- total number of employes -->
              <div class="bg-light-success text-success border-success border rounded size-small mtb-1 plr-3">26.5%</div>
            </div>

          </div>
          <div class="mtb-6" id="employees-container" style="width: 100%; height: 200px;"></div>
          <div class="steel text-center weight-bold">
            10 employee online today
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="container-card">
          <div class="size-lead weight-medium steel flex flex-middle flex-space-between">
            <div class="flex flex-middle flex-direction-column ">
              <a class="hover-link pointer weight-bold" href="/employees">Payroll</a>
              <div class="size-small mtb-1 plr-3">Last 7 days</div>
            </div>

            <div class="flex flex-middle flex-direction-column ">
              <div class="mb-1 weight-bold">234</div> <!-- total number of employes -->
              <div class="bg-light-success text-success border-success border rounded size-small mtb-1 plr-3">26.5%</div>
            </div>

          </div>
          <div class="mtb-6" id="payroll-container" style="width: 100%; height: 200px;"></div>
          <div class="steel text-center weight-bold">
            10 employee online today
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="container-card">
          <div class="size-lead weight-medium steel flex flex-middle flex-space-between">
            <div class="flex flex-middle flex-direction-column ">
              <a class="hover-link pointer weight-bold" href="/employees">Employees</a>
              <div class="size-small mtb-1 plr-3">Last 7 days</div>
            </div>

            <div class="flex flex-middle flex-direction-column ">
              <div class="mb-1 weight-bold">234</div> <!-- total number of employes -->
              <div class="bg-light-success text-success border-success border rounded size-small mtb-1 plr-3">26.5%</div>
            </div>

          </div>
          <div class="mtb-6" id="employees-container" style="width: 100%; height: 200px;"></div>
          <div class="steel text-center weight-bold">
            10 employee online today
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="container-card">
          <div class="size-lead weight-medium steel flex flex-middle flex-space-between">
            <div class="flex flex-middle flex-direction-column ">
              <a class="hover-link pointer weight-bold" href="/employees">Payroll</a>
              <div class="size-small mtb-1 plr-3">Last 7 days</div>
            </div>

            <div class="flex flex-middle flex-direction-column ">
              <div class="mb-1 weight-bold">234</div> <!-- total number of employes -->
              <div class="bg-light-success text-success border-success border rounded size-small mtb-1 plr-3">26.5%</div>
            </div>

          </div>
          <div class="mtb-6" id="payroll-container" style="width: 100%; height: 200px;"></div>
          <div class="steel text-center weight-bold">
            10 employee online today
          </div>

        </div>
      </div>
    </div>
  </div>



</div>
</div>



