<div class="complex-modal">
    <div class="modal-wrapper">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="component-title">{{data.title}}</h3>
            </div>
            <div class="modal-body">
                <p *ngIf="data.message" class="confirmation-dialog__message mb-3 m-0">{{ data.message }}</p>
                <ul *ngIf="data.details?.length" class="confirmation-dialog__details mb-3 pl-4 m-0">
                    <li *ngFor="let line of data.details">{{ line }}</li>
                </ul>
                <div class="bg-white text-right">
                    <button *ngFor="let button of data.buttons;let i = index" class="s-btn {{button.type}}"
                        [class.ml-3]="i > 0" (click)="closeModal(button.actionCallback)">{{button.label}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
