<div class="complex-modal">
  <div class="modal-wrapper">
    <div class="close-modal-icon" (click)="closeModal(false)"></div>
    <div class="modal-content" #modalContent>
      <div class="modal-header border-bottom">
        <h3 class="steel weight-medium size-default m-0">
          {{ (isEdit ? 'tr_edit_user' : 'tr_new_user') | translate }}
        </h3>
      </div>
      <div class="modal-body weight-medium steel">
        <div class="add-student-modal-container">
          <div>
            <div class="content-container plr-4 ptb-3">
              @if (basicInfoForm.invalid && basicInfoForm.submitted) {
                <div
                  class="alert alert-error mb-3"
                  >
                  {{ 'tr_fill_required_fields' | translate }}
                </div>
              }
              @if (basicInfoForm.valid && basicInfoForm.submitted) {
                <div
                  class="alert alert-error mb-3"
                  >
                  {{ 'tr_leaving_before_admission' | translate }}
                </div>
              }
              <form #basicInfoForm="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div
                      class="form-group"
                      [class.has-error]="
                        username_en.invalid && basicInfoForm.submitted
                      "
                      >
                      <label>{{ 'tr_name' | translate }}</label>
                      <input
                        #username_en="ngModel"
                        type="text"
                        class="s-control"
                        name="name"
                        ngModel
                        required
                        />
                      @if (username_en.invalid && basicInfoForm.submitted) {
                        <span
                          class="text-error size-small validator"
                          >
                          {{ 'tr_name_required' | translate }}
                        </span>
                      }
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div
                      class="form-group"
                      [class.has-error]="
                        email.invalid && basicInfoForm.submitted
                      "
                      >
                      <label>{{ 'tr_email' | translate }}</label>
                      <input
                        type="string"
                        class="s-control"
                        name="email"
                        #email="ngModel"
                        ngModel
                        required
                        />
                      @if (email.invalid && basicInfoForm.submitted) {
                        <span
                          class="text-error size-small validator"
                          >
                          {{ 'tr_email_required' | translate }}
                        </span>
                      }
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div
                      class="form-group"
                      [class.has-error]="
                        roleNg.invalid && basicInfoForm.submitted
                      "
                      >
                      <label>{{ 'tr_role' | translate }}</label>
                      <div class="input-with-icon bg-white">
                        <ng-select
                          class="s-control s-select"
                          placeholder="{{ 'tr_select' | translate }}"
                          [clearable]="false"
                          ngModel
                          #roleNg="ngModel"
                          name="role"
                          [items]="roles"
                          required
                          (ngModelChange)="onRoleChange($event)"
                          >
                        </ng-select>
                        <i class="fa fa-caret-down input-icon"></i>
                      </div>
                      @if (isGlobalAdminRole(roleNg.value)) {
                        <p class="size-small steel mt-2 mb-0">
                          {{ 'tr_user_all_branches_access_hint' | translate }}
                        </p>
                      }

                      @if (roleNg.invalid && basicInfoForm.submitted) {
                        <span
                          class="text-error size-small validator"
                          >
                          {{ 'tr_role_required' | translate }}
                        </span>
                      }
                    </div>
                  </div>

                  @if (showBranchField(roleNg.value)) {
                    <div class="col-md-6">
                      <div
                        class="form-group"
                      [class.has-error]="
                        branch.invalid && basicInfoForm.submitted
                      "
                        >
                        <label>{{ 'tr_branches' | translate }}</label>
                        <div class="input-with-icon bg-white">
                          <ng-select
                            class="s-control s-select"
                            placeholder="{{ 'tr_select' | translate }}"
                            bindLabel="name"
                            bindValue="_id"
                            [clearable]="false"
                            ngModel
                            #branch="ngModel"
                            name="branchId"
                            [items]="branches"
                            [required]="showBranchField(roleNg.value)"
                            >
                          </ng-select>
                          <i class="fa fa-caret-down input-icon"></i>
                        </div>
                        @if (branch.invalid && basicInfoForm.submitted) {
                          <span
                            class="text-error size-small validator"
                            >
                            {{ 'tr_branch_required' | translate }}
                          </span>
                        }
                      </div>
                    </div>
                  }

                  <div
                    class="col-md-6 form-group mb-6"
                    [class.has-error]="
                      !isEdit &&
                      ((password.invalid && password.dirty) ||
                        (basicInfoForm.submitted && password.invalid))
                    "
                    >
                    <label class="login-label">{{ 'tr_password' | translate }}</label>
                    @if (isEdit) {
                      <p class="size-small steel mt-0 mb-2">
                        {{ 'tr_password_optional_edit' | translate }}
                      </p>
                    }
                    <div class="flex flex-middle">
                      <input
                        class="s-control"
                        [type]="show ? 'text' : 'password'"
                        name="password"
                        placeholder="{{ 'tr_password' | translate }}"
                        autocomplete="password"
                        #password="ngModel"
                        ngModel
                        [required]="!isEdit"
                        />
                      @if (!show) {
                        <i
                          class="fa fa-eye eye-icon text-primary"
                          (click)="show = true"
                        ></i>
                      }
                      @if (show) {
                        <i
                          class="fa fa-eye-slash eye-icon text-primary"
                          (click)="show = false"
                          >
                        </i>
                      }
                    </div>

                    @if (
                      !isEdit &&
                      ((password.invalid && password.dirty) ||
                      (basicInfoForm.submitted && password.invalid))
                      ) {
                      <span
                        class="text-error size-small mt-2 validator"
                        >
                        {{ 'tr_password_required' | translate }}
                      </span>
                    }
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer mt-3 text-right">
        <button class="s-btn btn-secondary mr-3" (click)="closeModal(false)">
          {{ 'tr_cancel' | translate }}
        </button>
        <button (click)="submitForm()" class="s-btn btn-primary" type="submit">
          {{ 'tr_save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
