<div class="settlement-accounts-dialog">
  <h2 mat-dialog-title class="settlement-accounts-dialog__title">
    {{ 'tr_settlement_accounts_title' | translate }}
  </h2>

  <div mat-dialog-content class="settlement-accounts-dialog__content">
    <div class="settlement-accounts-dialog__scroll">
      <p class="settlement-accounts-dialog__lead">{{ 'tr_settlement_accounts_hint' | translate }}</p>

      <div class="settings-dialog-table settlement-accounts-table">
        <div class="settings-dialog-table__head settlement-accounts-table__head">
          <span>{{ 'tr_purchase_treasury_key' | translate }}</span>
          <span>{{ 'tr_purchase_treasury_label' | translate }}</span>
          <span></span>
        </div>
        <div
          class="settings-dialog-table__row settlement-accounts-table__row"
          *ngFor="let row of rows; let i = index"
        >
          <input
            type="text"
            class="s-control"
            [(ngModel)]="row.key"
            [name]="'settleKey_' + i"
            maxlength="40"
            autocomplete="off"
            [attr.placeholder]="'tr_purchase_treasury_key' | translate"
          />
          <input
            type="text"
            class="s-control"
            [(ngModel)]="row.label"
            [name]="'settleLabel_' + i"
            maxlength="120"
            autocomplete="off"
            [attr.placeholder]="'tr_purchase_treasury_label' | translate"
          />
          <div class="settlement-accounts-table__actions">
            <button
              type="button"
              class="s-btn btn-secondary btn-sm settings-dialog-table__remove"
              (click)="removeRow(i)"
              [attr.title]="'tr_remove' | translate"
            >
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </div>
      </div>

      <button type="button" class="s-btn btn-secondary btn-sm mt-2" (click)="addRow()">
        <i class="fa fa-plus mr-1"></i>{{ 'tr_add' | translate }}
      </button>
    </div>
  </div>

  <div mat-dialog-actions align="end" class="settlement-accounts-dialog__actions">
    <button
      type="button"
      class="s-btn btn-secondary"
      *ngIf="isDialog"
      (click)="cancel()"
      [disabled]="saving"
    >
      {{ 'tr_cancel' | translate }}
    </button>
    <button type="button" class="s-btn btn-primary" (click)="save()" [disabled]="saving">
      {{ 'tr_save_settings' | translate }}
    </button>
  </div>
</div>
